* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(70, 70, 70);
}

.app-container {
  width: 900px;
  height: 80%;
  background-color: aliceblue;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border-radius: 7px;

  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.131);
}

.title {
  flex: 0 1 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: white;
}

.app-display-container {
  width: 600px;
  flex: 2 1 auto;
  background-color: rgba(0, 0, 0, 0.131);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.app-form {
  flex: 1 1 auto;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.city-name-container {
  flex: 0 1 50px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.131);
  color: white;
  margin-top: 50px;
  border-radius: 7px;
}
.city-name-container h2 {
  font-size: 30px;
  border-radius: 4px;
}

.app-form input {
  font: 30px;
  letter-spacing: 2px;
  padding: 6px 20px;
  font-weight: bold;
  line-height: 20px;
  font-size: 24px;
  border-radius: 4px;
  text-align: center;
}

.app-display-logo {
  width: 250px;
  height: 250px;
  background: url(mountain.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.app-display-logo.active {
  opacity: 1;
  animation: fade 2s linear;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
